.content
  @media #{$below}
    font-size: 18px
    max-width: 450px
    margin-top: 50px
    border-top: 1px solid #382640
    padding: 40px 0 100px

  @media #{$above}
    margin-left: 350px
    font-size: 18px
    max-width: 100%

.content p
  margin-bottom: 30px

.content p strong
  font-weight: 1000
  font-size: 22px

.line-text
  font-size: 18px
  margin-top: 10px
